* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    width: 40%;
    height: auto;
    display: flex;
    border: 1px solid rebeccapurple;
    flex-wrap: wrap;
    margin-left: 10px;
    margin: auto;
    box-shadow: 1px 2px 8px rgb(78 74 74);
    padding: 2%;
    background-color: rgb(216, 224, 222);
    position: relative;
    border: 1px solid red;


}

img {
    width: 25%;
    height: 33.3%;
    border-radius: 50%;
    box-shadow: 4px 0px 5px rgb(78 74 74);


}

.container {
    /* position: relative; */
    /* border: 1px solid black; */
    
}

.winner {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 30%;

    /* left: 17%; */
    /* display: none; */

}
#abc{
    display: none;
}

.winner h2, h1 , #score2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(147 34 34);
    text-shadow: 2px 1px 1px white;
}